.hk_search_result_page_main_box{
  max-width: 1320px;
  margin: 0 auto;
  h1{
    margin: 45px 0 20px 40px;
    color: #384480;
    font-size: 48px;
    font-weight: 700;
  }
  .hk_search_result_page_main_box_item_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin: 100px 40px 80px 40px;
    &>div{
      margin-bottom: 23px;
    }
  }
}

@media screen and (max-width: 990px){
  .hk_search_result_page_main_box{
    h1{
      font-size: 34px;
    }
    .hk_search_result_page_main_box_item_box{
      margin: 50px 40px 80px 40px;
    }
  }
}

@media screen and (max-width: 767px){
  .hk_search_result_page_main_box{
    h1{
      font-size: 24px;
    }
    .hk_search_result_page_main_box_item_box{
      margin: 24px 20px 100px 20px;
    }
  }
}