.hk_admin_navigate{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  &_logo_box{
    width: 200px;
    cursor: pointer;
  }
  &_menu_box{
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 410px;
      li{
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
  &_last_box{
    width: 200px;
  }
}