.hk_admin_navigate{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &_logo_box{
    width: 200px;
    cursor: pointer;
  }
  &_menu_box{
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 410px;
      li{
        a{
          text-decoration: none;
          color: #606060;
        }
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
  &_last_box{
    width: 200px;
  }
}