.hk_nav {
    margin: 10px 0 0;
    .hk_nav_first_box{
        margin: 0 0 50px 0;
        background-color: #D0E3F9;
        padding: 3px 0;
        position: relative;

        &_lang_switcher_cont {
            position: absolute;
            top: 0;
            right: 0;
            width: 90%;
            transform: translate(-8.5%);
            z-index: 0;
        }

        ul{
            display: flex;
            list-style: none;
            width: max-content;
            margin: 0 auto;
            position: relative;
            z-index: 999;

            li {
                margin: 3px 0 3px 0;
            }
            li:not(:last-child){
                margin-right: 30px;
            }
            a{
                text-decoration: none;
                color: #051446;
                font-size: 16px;
                font-weight: 500;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }

    .hk_nav_second_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        .categories_container{
            border: 2px solid #3533B0;
            border-radius: 20px;
            padding: 10px 20px 10px 10px;
            max-width: 170%;
            overflow: auto;
            z-index: 900;
            position: absolute;
            top: 40px;
            left: 25px;
            background-color: #FFFFFF;
        }
        &>div:first-child img{
            width: 173px;
            height: auto;
        }
        .hk_nav_search_box{
            display: flex;
            justify-content: center;
            width: 173px;
            .hk_nav_search_box_images{
                width: 23px;
                height: 30px;
            }
        }
        &_list_container{
            ul{
                list-style: none;
                display: flex;
                li{
                    padding: 7px 30px;
                    cursor: pointer;
                    transition: transform 0.3s;
                }
                li:not(:last-child){
                    margin-right: 8px;
                }
                li:hover{
                    outline: 2px solid #3533B0;
                    border-radius: 15px;
                    transform: scale(1.1);
                }
                a{
                    text-decoration: none;
                    color: #606060;
                    font-size: 18px;
                    font-weight: 700;
                }
                li:hover > a{
                    color: #3533B0;
                }

            }
        }

        &_search_group_items {
            display: flex;
            justify-content: flex-end;
            position: relative;

            .hk_nav_second_box_search{
                position: absolute;
                left: -157px;
                width: 200px;
                border-radius: 15px;
            }
            .hk_nav_second_box_cart_count{
                width: 17px;
                height: 17px;
                font-size: 13px;
                border-radius: 50%;
                position: absolute;
                right: 50px;
                bottom: -2px;
                background-color: #00D46F;
                display: flex;
                font-family: Arial, sans-serif;
                color: #FFFFFF;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-weight: 400;
            }

            &>div {
                img{
                    cursor: pointer;
                }

                &>img{
                    margin-right: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px){
    .hk_nav{
        .hk_nav_first_box{
            margin: 0 0 40px 0;
            ul{
                li {
                    margin: 3px 0 3px 0;
                }
                li:not(:last-child){
                    margin-right: 26px;
                }
                a{
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        .hk_nav_second_box{
            &_search_group_items{
                .hk_nav_second_box_cart_count{
                    width: 14px;
                    height: 14px;
                    font-size: 10px;
                    right: 53px;
                }
                &>div {
                    &>img{
                        margin-right: 8px;
                    }
                }
            }
            .hk_nav_search_box{
                width: 163px;
                .hk_nav_search_box_images{
                    width: 20px;
                    height: 23px;
                }
            }
            &>div:first-child img{
                width: 163px;
                height: auto;
            }
            ul{
                li{
                    padding: 5px 25px;
                }
                li:not(:last-child){
                    margin-right: 10px;
                }
                a{
                    font-size: 15px;
                }

            }
            &>div:last-child{
                &>div:first-child{
                    top: -92px;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px){
    .hk_nav{
        .hk_nav_first_box{
            margin: 0 0 22px 0;
            ul{
                li {
                    margin: 3px 0 3px 0;
                }
                li:not(:last-child){
                    margin-right: 25px;
                }
                a{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .hk_nav_second_box{
            &_search_group_items{
                .hk_nav_second_box_search{
                    left: -86px;
                    width: 130px;
                    height: 25px;
                    margin-top: 2px;
                }
                    .hk_nav_second_box_cart_count{
                        right: 49px;
                    }

            }
            .hk_nav_search_box{
                width: 153px;
            }
            &>div:first-child img{
                width: 153px;
                height: auto;
            }
            ul{
                li{
                    padding: 5px 25px;
                }
                li:not(:last-child){
                    margin-right: 10px;
                }
                a{
                    font-size: 16px;
                }

            }
            &>div:last-child{
                &>div:first-child{
                    top: -92px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    .hk_nav{
        .hk_nav_first_box{
            &_lang_switcher_cont {
                transform: translate(-9%);
            }
            margin: 0 0 18px 0;
            ul{
                li:not(:last-child){
                    margin-right: 20px;
                }
                a{
                    font-size: 14px;
                }
            }
        }
        .hk_nav_second_box{
            .categories_container{
                left: 8px;
                top: 33px;
            }
            &_search_group_items{
                .hk_nav_second_box_search{
                    left: -62px;
                    width: 100px;
                    height: 20px;
                    margin-top: 4px;
                }
                .hk_nav_second_box_cart_count{
                    width: 11px;
                    height: 11px;
                    font-size: 9px;
                    right: 45px;
                    bottom: 1px;
                }

            }
            .hk_nav_search_box{
                width: 137px;
                .hk_nav_search_box_images{
                    width: 16px;
                    height: 20px;
                }
            }
            &>div:first-child img{
                width: 137px;
                height: auto;
            }
            ul{
                li{
                    padding: 5px 10px;
                }
                li:not(:last-child){
                    margin-right: 10px;
                }
                a{
                    font-size: 14px;
                }
                li:hover{
                    outline: 2px solid #3533B0;
                    border-radius: 15px;
                    transform: scale(1);
                }
            }
            &>div:last-child{
                &>div:first-child{
                    top: -92px;
                }
            }
        }
    }
}