.hk_login_container{
  margin: 0 auto;
  width: 380px;
  display: flex;
  align-items: center;
  height: 100vh;
  &_header{
    margin-bottom: 20px;
  }
  &_title{
    text-align: center;
  }
  &_forgot_password{
    float: right;
  }
  &_text{
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
  }
  .hk_login_footer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}