.hk_footer{
  background:  linear-gradient(181deg, #0E3175 -28.63%, #859DB2 173.05%), #D9D9D9;
  width: 100%;
  height: 535px;
  margin-top: auto;
  position: relative;
  margin-top: 90px;
  .hk_footer_image_clouds{
    width: 100%;
    height: auto;
    position: absolute;
    top: -90px;
  }
  .hk_footer_content_box{
    position: relative;
    display: flex;
    max-width: 1300px;
    padding-top: 200px;
    margin: 0 auto;
    gap: 80px;
    & p:hover{
      text-decoration: underline;
      color: #FFE500;
      cursor: pointer;
    }
    &_Logo_box{
      &>div:last-child{
        width: 60px;
        display: flex;
        justify-content: space-between;
        margin: 15px auto;
      }
    }
    &>div{
      display: flex;
      flex-direction: column;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 400;
      gap: 5px;
      a{
        color: #FFFFFF;
      }
      h5{
        font-size: 16px;
      }
    }
    &_moon_image{
      z-index: 10;
      animation-name: moon;
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }
    &_moonlight_image{
      position: absolute;
      right: -140px;
      top: 25px;
    }
  }
  &_hk_llc_box{
    margin: 60px 0 0 14px;
    &>h4{
      color: white;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }
  }
  &_Code_Miles_box{
    img:hover{
      cursor: pointer;
      transition: 0.5s;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(4deg) brightness(99%) contrast(103%);
    }
    p{
      margin-right: 20px;
      font-size: 16px;
      font-weight: 400;
      color: #A6B9D0;
    }
    display: flex;
    justify-content: flex-end;
  }
}

@keyframes moon {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(50deg);
  }
  100%{
    transform: rotate(0);
  }
}

@media screen and (max-width: 1550px){
  .hk_footer{
    height: 475px;
    .hk_footer_content_box{
      max-width: 992px;
      margin: 0 auto;
      padding-top: 170px;
      &_Logo_box{
        &>div:last-child{
          margin: 12px auto;
        }
      }
      &>div{
        font-size: 13px;
        gap: 4px;
        h5{
          font-size: 13px;
        }
      }
      &_moonlight_image{
        width: 450px;
        height: 450px;
        right: -153px;
      }
    }
  }
}

@media screen and (max-width: 1440px){
  .hk_footer{
    height: 417px;
    .hk_footer_image_clouds{
      top: -70px;
    }
    .hk_footer_content_box{
      max-width: 992px;
      padding-top: 140px;
      margin: 0 auto;
      gap: 60px;
      &_Logo_box{
        &>div:first-child{
          width: 144px;
          height: 58px;
          img{
            width: 100%;
          }
        }
        &>div:last-child{
          width: 52px;
          margin: 10px auto;
        }
      }
      &>div{
        font-size: 12px;
        gap: 3px;
        h5{
          font-size: 12px;
        }
      }
      &_moon_image{
        width: 166px;
        height: 144px;
        right: -153px;
        top: 130px;
      }
      &_moonlight_image{
        width: 366px;
        height: 366px;
        right: -93px;
        top: 27px;
      }
    }
    &_hk_llc_box{
      margin: 60px 0 0 11px;
      &>h4{
        font-size: 10px;
      }
    }
    &_Code_Miles_box{
      p{
        margin-right: 20px;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 1199px){
  .hk_footer{
    height: 350px;
    .hk_footer_image_clouds{
      top: -60px;
    }
    .hk_footer_content_box{
      max-width: 800px;
      padding-top: 100px;
      justify-content: space-between;
      gap: 40px;
      &_Logo_box{
        &>div:first-child{
          width: 144px;
          height: 58px;
          img{
            width: 100%;
          }
        }
        &>div:last-child{
          width: 52px;
          margin: 10px auto;
        }
      }
      &>div{
        font-size: 12px;
        max-width: 130px;
        gap: 3px;
        h5{
          font-size: 12px;
        }
      }
      &_moon_image{
        position: relative;
        width: 93px;
        height: 93px;
        right: 12px;
        top: 16px;
      }
      &_moonlight_image{
        width: 280px;
        height: 280px;
        right: -83px;
        top: 30px;
      }
    }
    &_hk_llc_box{
      margin: 50px 0 0 10px;
      &>h4{
        font-size: 10px;
      }
    }
    &_Code_Miles_box{
      p{
        margin-right: 15px;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 990px){
  .hk_footer{
    height: 310px;
    .hk_footer_image_clouds{
      top: -45px;
    }
    .hk_footer_content_box{
      max-width: 670px;
      padding-top: 95px;
      gap: 20px;
      &_Logo_box{
        &>div:first-child{
          width: 110px;
          height: 50px;
          img{
            width: 100%;
          }
        }
        &>div:last-child{
          width: 52px;
          margin: 10px auto;
        }
      }
      &>div{
        font-size: 10px;
        max-width: 130px;
        gap: 3px;
        h5{
          font-size: 12px;
        }
      }
      &_moon_image{
        position: relative;
        width: 93px;
        height: 93px;
        right: 12px;
        top: 16px;
      }
      &_moonlight_image{
        display: none;
      }
    }
    &_hk_llc_box{
      margin: 50px 0 0 10px;
      &>h4{
        font-size: 10px;
      }
    }
    &_Code_Miles_box{
      p{
        margin-right: 15px;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .hk_footer{
    height: 900px;
    padding-top: 150px;
    .hk_footer_image_clouds{
      top: -128px;
    }
    .hk_footer_content_box{
      flex-direction: column;
      align-items: center;
      max-width: 280px;
      padding-top: 50px;
      gap: 25px;
      &_Logo_box{
        &>div:first-child{
          width: 173px;
          height: 70px;
          img{
            width: 100%;
          }
        }
        &>div:last-child{
          width: 52px;
          margin: 10px auto;
        }
      }
      &>div{
        font-size: 16px;
        max-width: 200px;
        align-items: center;
        h5{
          font-size: 16px;
        }
      }
      &>div:nth-child(1){

        order: 3;
      }
      &>div:nth-child(2){
        order: 4;
        max-width: 280px;
        p{
          text-align: center;
        }
      }
      &>div:nth-child(3){
        order: 1;
      }
      &>div:nth-child(4){
        order: 2;
      }
      &>div:nth-child(5){
        order: 5;
      }
      &_moon_image{
        position: relative;
        width: 110px;
        height: 110px;
        right: 12px;
        top: 16px;
      }
      //&_moonlight_image{
      //  display: none;
      //}
    }
    &_hk_llc_box{
      margin: 50px 0 15px 10px;
      &>h4{
        font-size: 10px;
      }
    }
    &_Code_Miles_box{
      p{
        margin-right: 15px;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 445px){
  .hk_footer{
    padding-top: 100px;
    .hk_footer_image_clouds{
      top: -100px;
    }
  }
}