.hk_product_item_box {
  display: flex;
  flex-direction: column;
  width: 200px;

  img {
    width: 138px;
    height: 138px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  span {
    font-size: 21px;
    font-weight: 350;
  }

  div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    border-radius: 19.5px;
    background: #FFF;
    box-shadow: 0 0 12.75px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
  }

  div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7px;
  }
}

@media screen and (max-width: 1440px){
  .hk_product_item_box {
    width: 160px;

    img {
      width: 115px;
      height: 115px;
    }

    h3 {
      font-size: 14px;
    }

    span {
      font-size: 18px;
    }

    div:first-child {
      height: 160px;
    }
    div:last-child {
      & button{
        border-radius: 18px;
        border: 2px solid #3533B0;
        width: 92px!important;
        height: 32px!important;
        font-size: 12px!important;
      }
    }
  }
}