.hk_home_section_different_ages{
  max-width: 1170px;
  margin: 0 auto 170px;
  &_title{
    color: #384480;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  &_container{
    display: flex;
    justify-content: space-between;
    margin-left: 38px;
    &_boxes{
      &:hover{
        transform: scale(1.2);
        cursor: pointer;
        & img{
          transform: rotate(-90deg);
          transition: 2s;
        }
        &:nth-child(2),&:nth-child(5),&:nth-child(8):hover{
          & img{
            transform: translateY(-20px);
            transition: 1s;
          }
        }
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &_titles{
        color: #C69797;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 25px;
      }
    }
  }
}

@media screen and (max-width: 1440px){
  .hk_home_section_different_ages{
    max-width: 955px;
    margin: 0 auto 200px;
    &_title{
      font-size: 40px;
      margin-bottom: 39px;
    }
    &_container{
      margin-left: 20px;
      &_boxes{
        &_titles{
          font-size: 53px;
          margin-bottom: 11px;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px){
  .hk_home_section_different_ages{
    max-width: 824px;
    margin: 0 auto 160px;
    &_title{
      font-size: 34px;
      margin-bottom: 30px;
    }
    &_container{
      margin-left: 0;
      &_boxes{
        img{
          width: 66px;
          height: 66px;
        }
        &_titles{
          font-size: 45px;
          margin-bottom: 11px;
        }
      }
    }
  }
}

@media screen and (max-width: 990px){
  .hk_home_section_different_ages{
    max-width: 638px;
    margin: 0 auto 120px;
    &_title{
      font-size: 33px;
      margin-bottom: 15px;
    }
    &_container{
      &_boxes{
        img{
          width: 47px;
          height: 47px;
        }
        &_titles{
          font-size: 37px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .hk_home_section_different_ages{
    max-width: 300px;
    margin: 0 auto 120px;
    &_title{
      font-size: 34px;
      margin-bottom: 15px;
    }
    &_container{
      flex-wrap: wrap;
      gap: 10px;
      &_boxes{
        img{
          width: 75px;
          height: 75px;
        }
        &_titles{
          font-size: 45px;
          margin-bottom: 10px;
        }
      }
    }
  }
}