.hk_home_section_top_categories{
  width: 1192px;
  margin: 0 auto 81px;
  h2{
    font-size: 48px;
    font-weight: 700;
    color: #384480;
    margin-bottom: 157px;
  }
  .hk_home_section_top_categories_box {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
  }
}