@import "src/assets/styles/veariables";

.hk_home_section_header {
  position: relative;
  height: calc(100vh - 217px);
  &>div:first-child{
    position: relative;
  }
  &_content_cloud_left{
    position: absolute;
    left: 10px;
    top: 173px;
    width: 70px;
    height: auto;
    @include moveClouds(10px,60px,left,cloudLeft);
    animation: cloudLeft 4s linear 0.5s infinite;
  }
  &_content_cloud_top{
    position: absolute;
    top: 10px;
    left: 308px;
    width: 100px;
    height: auto;
    @include moveClouds(308px,208px,left,cloudTop);
    animation: cloudTop 6s linear 1s infinite;
  }
  &_content_cloud_bottom{
    position: absolute;
    bottom: -35px;
    left: 480px;
    width: 160px;
    height: auto;
    @include moveClouds(480px,580px,left,cloudBottom);
    animation: cloudBottom 7s linear 1.4s infinite;
  }
  &_content_cloud_right_top{
    position: absolute;
    top: -9px;
    right: 500px;
    width: 300px;
    height: auto;
    @include moveClouds(500px,570px,right,cloudRightTop);
    animation: cloudRightTop 7s linear 0.7s infinite;
  }
  &_content_cloud_right{
    position: absolute;
    top: 107px;
    right: 20px;
    width: 270px;
    height: auto;
    @include moveClouds(20px,150px,right,cloudRight);
    animation: cloudRight 7s linear 0.4s infinite;
  }
  &_img_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    left: 0;
    top: -187px;
    &_image {
      margin-top: 127px;
      width: 100%;
      height: auto;
    }
  }

  &_content {
    padding: 71px 0 0 156px;
    h1 {
      word-wrap: break-word!important;
      overflow-wrap: break-word!important;
      font-weight: 700;
      font-size: 65px;
      color: $main-blue;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #606060;
      max-width: 685px;
      margin-top: 18px;
    }
    button{
      font-size: 18px;
      font-weight: 700;
      color: #3533B0;
      margin-top: 30px;
      width: 250px;
      height: 43px;
      border: 2px solid #3533B0;
      border-radius: 22px;
      cursor: pointer;
      transition: 0.3s;
    }
    button:hover{
      background-color: #3533B0;
      color: white;
    }
  }
}

@media screen and (max-width: 1650px){
  .hk_home_section_header{
    &_content_cloud_right_top{
      right: 602px;
      width: 180px;
      @include moveClouds(450px,350px,right,cloudRightTop);
    }
    &_content_cloud_right{
      right: 50px;
      width: 160px;
      @include moveClouds(50px,150px,right,cloudRight);
      animation: cloudRight 6s linear 0.4s infinite;
    }
  }
}

@media screen and (max-width: 1440px){
  .hk_home_section_header {
    height: calc(100vh - 300px);
    &_content_cloud_left{
      left: 70px;
      top: 130px;
      width: 60px;
      @include moveClouds(70px,102px,left,cloudLeft);
      animation: cloudLeft 5s linear 0.5s infinite;
    }
    &_content_cloud_top{
      top: 0;
      left: 272px;
      width: 80px;
      @include moveClouds(272px,223px,left,cloudTop);
    }
    &_content_cloud_bottom{
      bottom: -10px;
      left: 555px;
      width: 130px;
      @include moveClouds(555px,620px,left,cloudBottom);
      animation: cloudBottom 6s linear 1.4s infinite;
    }
    &_content_cloud_right_top{
      right: 602px;
      width: 160px;
      @include moveClouds(550px,450px,right,cloudRightTop);
    }
    &_content_cloud_right{
      right: 20px;
      width: 130px;
      @include moveClouds(20px,80px,right,cloudRight);
      animation: cloudRight 6s linear 0.4s infinite;
    }

    &_content {
      padding: 65px 0 0 200px;
      h1 {
        font-size: 54px;
      }

      p {
        font-size: 12px;
        max-width: 533px;
        margin-top: 15px;
      }
      button{
        font-size: 15px;
        margin-top: 20px;
        width: 190px;
        height: 36px;
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .hk_home_section_header {
    height: calc(100vh - 350px);
    &_content_cloud_left{
      top: 130px;
      width: 45px;
      @include moveClouds(10px,40px,left,cloudLeft);
      animation: cloudLeft 5s linear 0.5s infinite;
    }
    &_content_cloud_top{
      top: 0;
      width: 73px;
      @include moveClouds(240px,190px,left,cloudTop);
    }
    &_content_cloud_bottom{
      bottom: -10px;
      width: 100px;
      @include moveClouds(300px,367px,left,cloudBottom);
      animation: cloudBottom 6s linear 1.4s infinite;
    }
    &_content_cloud_right_top{
      width: 120px;
      @include moveClouds(400px,320px,right,cloudRightTop);
    }
    &_content_cloud_right{
      top: 43px;
      width: 120px;
      @include moveClouds(16px,60px,right,cloudRight);
      animation: cloudRight 6s linear 0.4s infinite;
    }

    &_content {
      padding: 33px 0 0 100px;
      h1 {
        font-size: 44px;
      }

      p {
        font-size: 16px;
        max-width: 500px;
        margin-top: 5px;
      }
      button{
        font-size: 15px;
        margin-top: 5px;
        width: 190px;
        height: 36px;
      }
    }
  }
}
@media screen and (max-width: 992px){
  .hk_home_section_header {
    height: calc(100vh - 470px);
    &_content_cloud_left{
      top: 80px;
      width: 29px;
      @include moveClouds(5px,27px,left,cloudLeft);
      animation: cloudLeft 5s linear 0.5s infinite;
    }
    &_content_cloud_top{
      top: 0;
      width: 43px;
      @include moveClouds(200px,170px,left,cloudTop);
    }
    &_content_cloud_bottom{
      bottom: -10px;
      width: 70px;
      @include moveClouds(230px,280px,left,cloudBottom);
      animation: cloudBottom 7s linear 1.4s infinite;
    }
    &_content_cloud_right_top{
      top: -15px;
      width: 85px;
      @include moveClouds(300px,250px,right,cloudRightTop);
    }
    &_content_cloud_right{
      top: 20px;
      width: 85px;
      @include moveClouds(20px,70px,right,cloudRight);
      animation: cloudRight 6s linear 0.4s infinite;
    }

    &_content {
      padding: 15px 0 0 60px;
      h1 {
        font-size: 34px;
        width: 600px!important;
      }

      p {
        font-size: 12px;
        max-width: 400px;
        margin-top: 5px;
      }
      button{
        font-size: 12px;
        margin-top: 5px;
        width: 160px;
        height: 26px;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .hk_home_section_header {
    &_content{
      h1{
        max-width: 550px;
      }
      button{
        width: 160px;
        font-size: 12px;
        margin-top: 15px;
        background-color: #FFFFFF;
      }
    }
    height: 800px;
    margin-bottom: 100px;
    &_img_wrapper{
      margin-top: 160px;
    }
    &_content_cloud_left{
      top: 255px;
      width: 100px;
      @include moveClouds(20px,40px,left,cloudLeft);
      animation: cloudLeft 5s linear 0.5s infinite;
    }
    &_content_cloud_top{
      display: none;
    }
    &_content_cloud_bottom{
      bottom: -77px;
      width: 70px;
      @include moveClouds(250px,200px,left,cloudBottom);
      animation: cloudBottom 7s linear 1.4s infinite;
    }
    &_content_cloud_right_top{
      display: none;
    }
    &_content_cloud_right{
      top: 221px;
      width: 100px;
      @include moveClouds(50px,130px,right,cloudRight);
      animation: cloudRight 8s linear 0.4s infinite;
    }

    &_content {
      padding: 0 15px;
      h1 {
        font-size: 36px;
      }

      p {
        font-size: 16px;
        max-width: 400px;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .hk_home_section_header{
    &_content{
      h1{
        max-width: 420px;
      }
      button{
        width: 160px;
      }
    }
    height: 650px;
    &_content_cloud_bottom{
      bottom: -40px;
      width: 70px;
      @include moveClouds(170px,125px,left,cloudBottom);
      animation: cloudBottom 7s linear 1.4s infinite;
    }
    &_content_cloud_right{
      top: 204px;
      width: 80px;
      @include moveClouds(50px,75px,right,cloudRight);
      animation: cloudRight 8s linear 0.4s infinite;
    }
    &_content_cloud_left{
      top: 275px;
      width: 65px;
      @include moveClouds(20px,40px,left,cloudLeft);
      animation: cloudLeft 5s linear 0.5s infinite;
    }
  }
}

@media screen and (max-width: 445px){
  .hk_home_section_header{
    &_content{
      h1{
        max-width: 364px;
        margin-top: 10px;
      }
      button{
        width: 160px;
      }
    }
    height: 500px;
    &_img_wrapper{
      &_image{
        margin-top: 200px;
      }
    }
    &_content_cloud_bottom{
      bottom: -46px;
      width: 55px;
      @include moveClouds(150px,125px,left,cloudBottom);
      animation: cloudBottom 7s linear 1.4s infinite;
    }
    &_content_cloud_right{
      top: 265px;
      width: 50px;
      @include moveClouds(50px,75px,right,cloudRight);
      animation: cloudRight 8s linear 0.4s infinite;
    }
    &_content_cloud_left{
      top: 293px;
      width: 40px;
      @include moveClouds(20px,40px,left,cloudLeft);
      animation: cloudLeft 5s linear 0.5s infinite;
    }
  }
}
