@import "src/assets/styles/veariables";

.hk_home_section_header {
  position: relative;
  height: calc(100vh - 217px);
  &>div:first-child{
    position: relative;
  }
  &_content_cloud_left{
    position: absolute;
    left: 10px;
    top: 173px;
    width: 70px;
    height: auto;
    @include moveClouds(10px,60px,left,cloudLeft);
    animation: cloudLeft 4s linear 0.5s infinite;
  }
  &_content_cloud_top{
    position: absolute;
    top: 10px;
    left: 308px;
    width: 100px;
    height: auto;
    @include moveClouds(308px,208px,left,cloudTop);
    animation: cloudTop 6s linear 1s infinite;
  }
  &_content_cloud_bottom{
    position: absolute;
    bottom: -35px;
    left: 480px;
    width: 160px;
    height: auto;
    @include moveClouds(480px,580px,left,cloudBottom);
    animation: cloudBottom 7s linear 1.4s infinite;
  }
  &_content_cloud_right_top{
    position: absolute;
    top: -9px;
    right: 500px;
    width: 300px;
    height: auto;
    @include moveClouds(500px,570px,right,cloudRightTop);
    animation: cloudRightTop 7s linear 0.7s infinite;
  }
  &_content_cloud_right{
    position: absolute;
    top: 107px;
    right: 20px;
    width: 270px;
    height: auto;
    @include moveClouds(20px,150px,right,cloudRight);
    animation: cloudRight 7s linear 0.4s infinite;
  }
  &_img_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    left: 0;
    top: -187px;
    &_image {
      margin-top: 127px;
      width: 100%;
      height: auto;
    }
  }

  &_content {
    padding: 71px 0 0 156px;
    h1 {
      font-weight: 700;
      font-size: 65px;
      color: $main-blue;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #606060;
      max-width: 685px;
      margin-top: 18px;
    }
    button{
      font-size: 18px;
      font-weight: 700;
      color: #3533B0;
      margin-top: 30px;
      width: 168px;
      height: 43px;
      border: 2px solid #3533B0;
      border-radius: 22px;
      cursor: pointer;
      transition: 0.3s;
    }
    button:hover{
      background-color: #3533B0;
      color: white;
    }
  }
}

@media screen and (max-width: 1650px){
  .hk_home_section_header{
    &_content_cloud_right_top{
      right: 602px;
      width: 180px;
      @include moveClouds(450px,350px,right,cloudRightTop);
    }
    &_content_cloud_right{
      right: 50px;
      width: 160px;
      @include moveClouds(50px,150px,right,cloudRight);
      animation: cloudRight 6s linear 0.4s infinite;
    }
  }
}

@media screen and (max-width: 1440px){
  .hk_home_section_header {
    &_content_cloud_left{
      left: 70px;
      top: 130px;
      width: 60px;
      @include moveClouds(70px,102px,left,cloudLeft);
      animation: cloudLeft 5s linear 0.5s infinite;
    }
    &_content_cloud_top{
      top: 0;
      left: 272px;
      width: 80px;
      @include moveClouds(272px,223px,left,cloudTop);
    }
    &_content_cloud_bottom{
      bottom: -10px;
      left: 555px;
      width: 130px;
      @include moveClouds(555px,620px,left,cloudBottom);
      animation: cloudBottom 6s linear 1.4s infinite;
    }
    &_content_cloud_right_top{
      right: 602px;
      width: 160px;
      @include moveClouds(602px,502px,right,cloudRightTop);
    }
    &_content_cloud_right{
      right: 20px;
      width: 130px;
      @include moveClouds(20px,80px,right,cloudRight);
      animation: cloudRight 6s linear 0.4s infinite;
    }

    &_content {
      padding: 65px 0 0 200px;
      h1 {
        font-size: 54px;
      }

      p {
        font-size: 12px;
        max-width: 533px;
        margin-top: 15px;
      }
      button{
        font-size: 15px;
        margin-top: 20px;
        width: 140px;
        height: 36px;
      }
    }
  }
}
