.ant-drawer-header {
   padding: 10px 5px !important;
}

.ant-drawer-body {
   padding: 0 !important;
}
.filterButton {
   color: black;
   text-decoration: none;
   margin-bottom: 10px;
   cursor: pointer;
}

.filtersLayoutHeader {
   padding-right: 5px;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   div {
      cursor: pointer;
   }
}
