.filterContainer {
   width: 240px;
   min-width: 200px;
   margin: 0 20px;
}
.filtersHeader {
   font-size: 14px;
}
.priceRangeOption {
   display: flex;
   align-items: center;
   gap: 10px;
}

.ant-collapse-header {
   display: grid;
   border-bottom: 1px solid black;
   border-radius: 0 !important;
   padding: 10px 0 0 0 !important;
   font-size: 18px;
}

.ant-collapse-header {
   text-transform: uppercase;
}

.plusIcon {
   font-size: 18px;
   color: #8987ff;
}
.minusIcon {
   font-size: 18px;
   color: #ff3030;
}

.ant-collapse-content-box {
   display: grid;
   padding: 10px !important;
}

.ant-input-number {
   border-radius: 20px;
   border-color: black;
}

.ant-input-number-handler-wrap {
   display: none !important;
}

@media screen and (max-width: 768px) {
   .filtersHeader {
      display: none;
   }
   .filterContainer {
      margin: 0 10px;
   }
}
