* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.swiper_container{

  .swiper-slide{
    display: flex;
    width: 110px !important;
    height: 100px !important;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    img{
      width: 90px;
      height: 90px;
    }
  }

  .swiper-wrapper{
    top: 10px;
    left: 8px;
    height: 140px;
  }
}
