@import '@/assets/styles/veariables.scss';

.hk_home_section_bestsellers {
  width: 1192px;
  margin: 350px auto 42px;

  &_title {
    color: $main-blue;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 34px;
  }

  &_items_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 0 0 32px;
  }
}

@media screen and (max-width: 1440px){

  .hk_home_section_bestsellers {
    width: 992px;
    margin: 150px auto 80px;

    &_title {
      color: $main-blue;
      margin-bottom: 28px;
    }
  }
}